/*================ My Variables ================*/
$my-primary-color        : #3498DB;
$my-danger-color         : #FB2E2E;
$my-dark-color           : #141824;
$my-secondary-light-color: #EFF2F6;
$my-secondary-color      : #858A9B;
$my-white-color          : #FFFFFF;
$my-border-color         : #D9D9D9;
$my-column-title-color   : #31374A;
$my-body-color           : #F5F7FA;

.navbar {
  background-color: $my-dark-color;

  .navbar-brand {
    font-weight: bold;

    span {
      color: $my-secondary-light-color;
    }
  }

  .nav-link {
    position: relative;
    padding-left: 0.5rem;

    &.active {
      text-shadow: 0 0 6px rgba(52, 152, 219, 0.80);
    }

    &.active::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -2px;
      transform: translateY(-50%);
      display: inline-block;
      height: 4px;
      width: 4px;
      background-color: $my-primary-color;
      border-radius: 50%;
    }
  }
}
